.box {
    width: 200px;
    height: 200px;
    background-color: grey;
    border-radius: 10px;
}

.head.box{
    height: 50px;
    background-color: black;
}

.foot-box{
    height: 40px;
    width: 80%;
    background-color: blueviolet;
    border-radius: 10px;
}